:root{
  --gold: #F2C500;
  --orange: #E8842E;
  --pink: #E02F73;
  --purple: #CFA8DA;
  --teal: #76C2AE;

  --dark: #1a1a1a;
  --border: #e0e0e0;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, var(--purple), var(--pink), var(--orange));
  min-height: 100vh;
  color: var(--dark);
}

.container {
    display: flex;
    gap: 20px;
}

.sidebar {
    flex: 0 0 30%;
    position: sticky;
    top: 0;
    background-color: var(--gold);
    padding: 10px;
    border-radius: 12px;
}

.profile-section h2 { color: #e94560; }

.score {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4ecca3;
}

.activities, .leaderboard ol {
    padding-right: 20px;
    line-height: 1.8;
}

.leaderboard li:first-child {
    color: gold;
    font-weight: bold;
}

.games-grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: repeat(8, 1fr);
    gap: 15px;
}

.game-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid var(--dark);
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-info {
    position: absolute;
    bottom: 0;
    background: var(--purple);
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.game-card:hover {
    transform: scale(1.05);
    z-index: 10;
    border-color: #E02F73;
}

.w-1 {
    grid-column: span 1;
}
.w-2 {
    grid-column: span 2;
}
.w-3 {
    grid-column: span 3;
}
.w-4 {
    grid-column: span 4;
}
.w-5 {
    grid-column: span 5;
}
.r-1 {
    grid-row: span 1;
}   
.r-2 {
    grid-row: span 2;
}
.r-3 {
    grid-row: span 3;
}
.r-4 {
    grid-row: span 4;
}
.r-5 {
    grid-row: span 5;
}


