:root{
  --gold: #F2C500;
  --orange: #E8842E;
  --pink: #E02F73;
  --purple: #CFA8DA;
  --teal: #76C2AE;

  --dark: #1a1a1a;
  --border: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, var(--purple), var(--pink), var(--orange));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.login-card{
  width: 380px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: 0.2s;
  margin-bottom: 20px;

}

/* Tabs */
.tabs{
  display: flex;
  background: var(--teal);
}

.tab{
  flex: 1;
  padding: 14px;
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tab.active{
  background: white;
  color: var(--pink);
}

.logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 100px;
  height: auto;
  animation: ease-in 5s fadeIn;
}



/* Body */
.card-body{
  padding: 28px 24px;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 18px;
  color: var(--pink);
}

/* Forms */
.panel{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hidden{
  display: none;
}

label{
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.hint {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  font-weight: 400;
}


input{
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 14px;
}

input:focus{
  outline: 2px solid var(--teal);
  border-color: var(--teal);
}


/* Submit button */
button[type="submit"]{
  margin-top: 8px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--pink);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover{
  opacity: 0.9;
}

/* Messages */
.msg{
  text-align: center;
  font-size: 14px;
  min-height: 18px;
}

.error{ color: #d32f2f; }
.success{ color: #2e7d32; }
