:root {
  --gold: #F2C500;
  --orange: #E8842E;
  --pink: #E02F73;
  --purple: #CFA8DA;
  --teal: #76C2AE;
  --dark: #1a1a1a;
  --border: #e0e0e0;
  --white-glass: rgba(255, 255, 255, 0.2);
  --dark-glass: rgba(0, 0, 0, 0.1);
}

body{
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, var(--purple), var(--pink), var(--orange));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logout-button img {
  height: 60px;
  width: auto;
  display: block;
  transition: transform 0.25s ease;
}

.logout-button img:hover  {
  transform: scale(1.15);
}