body {
    background-color: var(--dark);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container { text-align: center; width: 90%; }

.game-section {
    flex-direction: column;   
    justify-content: flex-start;
    gap: 10px;         
}


.grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

/* מבנה הקלף */
.card {
    width: 100px;
    height: 140px;
    perspective: 1000px; /* נותן עומק לאנימציה */
    cursor: pointer;

    /* מצב התחלתי של הקלף לפני האנימציה */
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

/* המחלקה שמוסיפה את הכניסה */
.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* כשהקלף מקבל מחלקה 'flipped', הוא מסתובב */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* מסתיר את הצד האחורי כשהוא הפוך */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
}


.card-front {
    transform: rotateY(180deg); /* הצד הקדמי מחכה הפוך */
}
.card-img {
    object-fit: cover;
    border-radius: 8px;
}

/* הגדרת תנועת הניעור */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* המחלקה שמרעידה את הקלף */
.shake {
  animation: shake 0.4s ease-in-out;
}

/* אנימציה ליציאת הקלפים */
.card.matched-fly-away {
    pointer-events: none; /* שלא יהיה ניתן ללחוץ עליהם */
    animation: flyAway 0.8s ease-in-out forwards;
}

@keyframes flyAway {
    0% {
        transform: scale(1) rotate(0deg) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0) rotate(720deg) translateY(-200px);
        opacity: 0;
    }
}


.level-btn {
    background: var(--dark-glass);
    color: white;
    border: 2px solid var(--teal);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.1rem;
}

.level-btn:hover,
.level-btn.active  {
    background: var(--teal);
    color: var(--dark);
}

