.egg-area {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    margin-right: 50px;
}

#egg-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.crack-animation {
    animation: crackEffect 0.5s ease-in-out;
}

@keyframes crackEffect {
    0% { transform: scale(1); }
    25% { transform: scale(1.1) rotate(5deg); }
    50% { transform: scale(1.1) rotate(-5deg); }
    100% { transform: scale(1); }
}

#progress-bar-container {
    width: 100%;
    max-width: 300px;
    height: 12px;
    background: var(--dark-glass);
    border-radius: 5px;
    margin-top: 15px;
    overflow: hidden;

}

#progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, var(--orange), var(--pink));
    border-radius: 10px;
    transition: width 0.5s ease;
}

.options-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.option-btn {
    background: var(--dark-glass);
    color: white;
    border: 2px solid var(--teal);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.1rem;
}

.option-btn:hover {
    background: var(--teal);
    color: var(--dark);
}

.game-area {
    flex: 0 0 80%;
}
.quiz-card {
    background: var(--white-glass);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--border);
    max-width: 500px;
    margin: 0 auto;
}

#final-screen {
    flex: 0 0 50%;
    color: var(--gold);
    display: none;
    text-align: start;
}

.restart-btn {
    float: left;
    margin-top: 70px;
}