.egg-area {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    margin-right: 50px;
}

#egg-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* אנימציית רעידה כשהביצה עומדת להישבר */
.shaking {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(-1deg); }
    40% { transform: translate(3px, 2px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#progress-bar-container {
    width: 100%;
    max-width: 300px;
    height: 12px;
    background: var(--dark-glass);
    border-radius: 5px;
    margin-top: 15px;
    overflow: hidden;

}

#progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, var(--orange), var(--pink));
    border-radius: 10px;
    transition: width 0.5s ease;
}

.options-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.option-btn {
    background: var(--dark-glass);
    color: white;
    border: 2px solid var(--teal);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.1rem;
}

.option-btn:hover {
    background: var(--teal);
    color: var(--dark);
}

.hidden { 
    display: none; 
}

.game-area {
    flex: 0 0 80%;
}
.quiz-card {
    background: var(--white-glass);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--border);
    max-width: 500px;
    margin: 0 auto;
}